.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: left;
  text-decoration: none;
  color: black;

} 

.layout {
  display: flex;
  
}

.post{
  display: flex;
  width: 300px;
  height: 150px;
  flex-direction: column;
  text-decoration: none;
  
}

.post:hover{
  background-color: #ebebeb;
}