.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  margin-top: 5px;
  width: 900px;
  text-decoration: none;
  color: rgb(19, 64, 107)

}

.layout {
  display: flex;
  align-self: center;
  
}

.post{
  margin-top: 10px;
  background-color: whitesmoke;
  height: 100px;
  text-decoration: none;
  

}

.post:hover{
  background-color: #ebebeb;
}