.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: left;
  text-decoration: none;
  color: black;

} 

.layout {
  display: flex;
  
}

.post{
  display: flex;
  width: 325;
  height: 200px;
  flex-direction: column;
  text-decoration: none;
 
}

.data {
  justify-content: inherit
}

.post:hover{
  background-color: #ebebeb;
} 

@media only screen and (max-width: 850px) {
  .posts {
    flex-direction: column;
  }
}