.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .inputs {
//   width: 800px;
//   margin-top: 20px;
// }

.inputs {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  margin-top: 20px;
  color: blue;

}

.input {
  text-align: center;
  border-radius: 10px;
}

.emailInput {
  width: 300px;
  text-align: center;
  border-radius: 10px
}

.button {
  width: 100px;
  color: blue;
  background-color: #777777;
  margin-top: 20px;

}

.message {
  height: 200px;
  width: 600px;
  border-radius: 10px;

}

